<section class="dr-main-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="dr-header-sec">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="logo"><a href="index.html"><img src="images/logo.png" alt="CoinMD"></a></div>
            </div>
            <div class="col-md-9 col-sm-12 text-center">
              <div class="right-sec-header">
                <ul class="pull-right">
                    <li class="btn logeninfon-btn"> <a href="javascript:;" class="dropdown-toggle" ng-click="logout()"> Logout </a> </li>
                </ul>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</section>
<div class="contant-box"> 
  
  <!-- Modal Structure -->
  <div id="modal1" class="modal Wallet-p">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> H-Wallet </h4>
      </div>
      <div class="  pop-div">
        <div class="col-md-5 text-center Scan"><img src="images/qr-code.jpg">
          <p>Scan QR Code</p>
          <span class="or-tx">OR</span></div>
        <div class="col-md-7 text-center Code-qr">
          <div class="Generated QR Code">
            <p>Generated QR Code</p>
            <div class="code-copy"> <span class="numbber-tx">123456</span> <span class="copy-link">Copy</span> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer"> <a href="#!" class="modal-action modal-close btn-flat"><img src="images/close-icon.png" alt="close-icon"></a> </div>
  </div>
  <div class="Create Leads">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <div class="page-name">
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-listing">
    <div class="form-box lead">
      <div class="container bg-white">
        <ul class="ccollapsible popout" data-collapsible="accordion">
          <li class="form-box lead active">
            <div class="collapsible-header active">H-Wallet <i class="fa fa-angle-right"></i></div>
            <div class="collapsible-body" >
              <div class="col-div">
                <div class="col-div hedi-p">
                  <h4>Your form has been successfully submitted. Select the module to generate QR Code. </h4>
                  <form class="form-tag">
                    <div class="row">
                      <div class="    select-box">
                        <div class="col-md-12">
                          <p>
                            <input type="checkbox" id="blood" ng-value="1" ng-model="genqr.generalinfo" />
                            <label for="blood">General Information</label>
                          </p>
                          <p>
                            <input type="checkbox" id="chest" ng-value="2" ng-model="genqr.presenthtry" />
                            <label for="chest">Present Medical History</label>
                          </p>
                          <p>
                            <input type="checkbox" id="thumping" ng-value="3" ng-model="genqr.pasthstry" />
                            <label for="thumping">Past Medical History</label>
                          </p>
                          <p>
                            <input type="checkbox" id="notice" ng-value="4" ng-model="genqr.other" />
                            <label for="notice">Other Heart Diseases Risk Factor</label>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="input-field form-group  icon-field form-filed sel-opt no-icon">
                            <select ng-model="genqr.practitioner" style="display:block;">
                                <option value="" disabled selected>Select Practitioner</option>
                                <option value="Anthony">Anthony</option>
                                <option value="Elke">Elke</option>
                                <option value="Steve">Steve</option>
                                <option value="Ted">Ted</option>
                              </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button name="singlebutton" class="btn btn-info btn-sm  btn-design " ng-click="genQr(genqr)">GENERATE/SEND QR</button>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="top_ftr">
      <div class="row">
        <div class="col-xs-4">
          <figure> <img src="images/security_symbol.png" alt="security_symbol"> </figure>
          <h4>100% Secure Payments</h4>
          <p>Moving your card details to a much more secured place.</p>
        </div>
        <div class="col-xs-4">
          <figure> <img src="images/timer_symbol.png" alt="timer_symbol"> </figure>
          <h4>Fast and Easy Service</h4>
          <p>Moving your card details to a much more secured place.</p>
        </div>
        <div class="col-xs-4">
          <figure> <img src="images/customer_support.png" alt="customer_support"> </figure>
          <h4>Best Customer Service</h4>
          <p>Moving your card details to a much more secured place.</p>
        </div>
      </div>
    </div>
    <div class="ftr_btm">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <h4>COMPANY</h4>
          <ul>
            <li><a href="javascript:void(0);">About Us</a></li>
            <li><a href="javascript:void(0);">Core Values</a></li>
            <li><a href="javascript:void(0);">Careers</a></li>
            <li><a href="javascript:void(0);">Blog</a></li>
            <li><a href="javascript:void(0);">FAQ</a></li>
            <li><a href="javascript:void(0);">Contact us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>POLICY INFO</h4>
          <ul>
            <li><a href="javascript:void(0);">Privacy Policy</a></li>
            <li><a href="javascript:void(0);">Terms of Sale</a></li>
            <li><a href="javascript:void(0);">Terms of Use</a></li>
            <li><a href="javascript:void(0);">Takedown Policy</a></li>
            <li><a href="javascript:void(0);">Sitemm col-md-3ap</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>COINMD BUSINESS</h4>
          <ul>
            <li><a href="javascript:void(0);">Seller Registration</a></li>
            <li><a href="javascript:void(0);">Online Shopping </a></li>
            <li><a href="javascript:void(0);">Book Doctors Online </a></li>
            <li><a href="javascript:void(0);">Advertise on CoinMD</a></li>
            <li><a href="javascript:void(0);">Media Enquiries</a></li>
            <li><a href="javascript:void(0);">Be an Affiliate</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>NEED HELP ?</h4>
          <div class="subscribe">
            <input type="text" class="form-control" placeholder="Email Address">
            <input type="button" class="btn_sub" value="Subscribe">
          </div>
          <ul class="social_links">
            <li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i> </a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          </ul>
          <di class="copy_right">
            <p>COPYRIGHT 2017 COINMD, INC.</p>
          </di>
        </div>
      </div>
    </div>
  </div>
</footer>