<section class="dr-main-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="dr-header-sec">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="logo"><a href="index.html"><img src="images/logo.png" alt="CoinMD"></a></div>
            </div>
            <div class="col-md-9 col-sm-12 text-center">
              <div class="right-sec-header">
                <ul class="pull-right">
                  <li class="btn login-btn"> <a href="javascript:;" class="dropdown-toggle" ng-href="/signup"> Signup </a> </li>
                </ul>
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</section>
<div class="contant-box login-page">
  <div class="form-login lofin-page">
    <div class="col-md-4 col-sm-4 col-sm-offset-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">H-Wallet Sign In</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal"  >
                    <div class="form">
                    <div class="col-md-12">
                      <div class="input-field   form-group icon-field form-filed lft"> <i class="name-icon icon-form"></i>
                        <input id="Lead_name" type="text" ng-model="user.email">
                        <label for="Lead_name"> Email</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-field form-group  icon-field form-filed lft"><i class="pass-Number-icon icon-form"></i>
                        <input id="Lead-Source" type="password" ng-model="user.password">
                        <label for="Lead-Source">Password</label>
                      </div>
                    </div>
                   
                    </div>
                 <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="spacing">
                        <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                        <small> Remember me</small></div>
                      <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-info btn-sm  btn-design" ng-click="login(user)">Sign In</button>
                    </div>
                    <div class="col-md-6">
                      <div class="Forgot-pas"><a href="reset"><small> Forgot Password?</small></a><br>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="top_ftr">
      <div class="row">
        <div class="col-xs-4">
          <figure> <img src="images/security_symbol.png" alt="security_symbol"> </figure>
          <h4>100% Secure Payments</h4>
          <p>Moving your card details to a much more secured place.</p>
        </div>
        <div class="col-xs-4">
          <figure> <img src="images/timer_symbol.png" alt="timer_symbol"> </figure>
          <h4>Fast and Easy Service</h4>
          <p>Moving your card details to a much more secured place.</p>
        </div>
        <div class="col-xs-4">
          <figure> <img src="images/customer_support.png" alt="customer_support"> </figure>
          <h4>Best Customer Service</h4>
          <p>Moving your card details to a much more secured place.</p>
        </div>
      </div>
    </div>
    <div class="ftr_btm">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <h4>COMPANY</h4>
          <ul>
            <li><a href="javascript:void(0);">About Us</a></li>
            <li><a href="javascript:void(0);">Core Values</a></li>
            <li><a href="javascript:void(0);">Careers</a></li>
            <li><a href="javascript:void(0);">Blog</a></li>
            <li><a href="javascript:void(0);">FAQ</a></li>
            <li><a href="javascript:void(0);">Contact us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>POLICY INFO</h4>
          <ul>
            <li><a href="javascript:void(0);">Privacy Policy</a></li>
            <li><a href="javascript:void(0);">Terms of Sale</a></li>
            <li><a href="javascript:void(0);">Terms of Use</a></li>
            <li><a href="javascript:void(0);">Takedown Policy</a></li>
            <li><a href="javascript:void(0);">Sitemm col-md-3ap</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>COINMD BUSINESS</h4>
          <ul>
            <li><a href="javascript:void(0);">Seller Registration</a></li>
            <li><a href="javascript:void(0);">Online Shopping </a></li>
            <li><a href="javascript:void(0);">Book Doctors Online </a></li>
            <li><a href="javascript:void(0);">Advertise on CoinMD</a></li>
            <li><a href="javascript:void(0);">Media Enquiries</a></li>
            <li><a href="javascript:void(0);">Be an Affiliate</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>NEED HELP ?</h4>
          <div class="subscribe">
            <input type="text" class="form-control" placeholder="Email Address">
            <input type="button" class="btn_sub" value="Subscribe">
          </div>
          <ul class="social_links">
            <li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-youtube-play" aria-hidden="true"></i> </a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          </ul>
          <di class="copy_right">
            <p>COPYRIGHT 2017 COINMD, INC.</p>
          </di>
        </div>
      </div>
    </div>
  </div>
</footer>
